openapi: 3.1.2
info:
  title: SDKWork Web Backend API
  description: SDKWork Web Server management and control-plane API.
  version: 1.0.0
servers:
- url: https://api.web.sdkwork.com
  description: Production
- url: http://localhost:3800
  description: Local Development
security:
- AuthToken: []
  AccessToken: []
paths:
  /backend/v3/api/applications:
    get:
      operationId: applications.list
      summary: List managed applications
      tags: [application]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.read
      x-sdkwork-owner: sdkwork-web-server
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - name: applicationType
        in: query
        schema:
          type: string
          enum: [WEB, API]
      - name: siteType
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 6
      - name: status
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 3
      - name: keyword
        in: query
        schema:
          type: string
          maxLength: 100
      responses:
        '200':
          description: Managed application list returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required: [items, pageInfo]
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/ApplicationResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
    post:
      operationId: applications.create
      summary: Create a managed application
      tags: [application]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-web-server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
      responses:
        '201':
          description: Managed application created successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required: [item]
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationResponse'
  /backend/v3/api/applications/{applicationId}:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    get:
      operationId: applications.retrieve
      summary: Retrieve a managed application
      tags: [application]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.read
      x-sdkwork-owner: sdkwork-web-server
      responses:
        '200':
          description: Managed application returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required: [item]
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: applications.update
      summary: Update a managed application
      tags: [application]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-web-server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationRequest'
      responses:
        '200':
          description: Managed application updated successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required: [item]
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: applications.delete
      summary: Delete a managed application
      tags: [application]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-web-server
      responses:
        '204':
          description: Managed application deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'
  /backend/v3/api/applications/{applicationId}/activate:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    post:
      operationId: applications.activate
      summary: Activate a managed application
      tags: [application]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-web-server
      responses:
        '200':
          description: Managed application activated successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required: [item]
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /backend/v3/api/applications/{applicationId}/pause:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    post:
      operationId: applications.pause
      summary: Pause a managed application
      tags: [application]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-web-server
      responses:
        '200':
          description: Managed application paused successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required: [item]
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /backend/v3/api/applications/{applicationId}/domains:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    get:
      operationId: applications.domains.list
      summary: List application domains
      tags: [applicationDomain]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.read
      x-sdkwork-owner: sdkwork-web-server
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Application domain list returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required: [items, pageInfo]
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/ApplicationDomainResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
    post:
      operationId: applications.domains.create
      summary: Bind a public domain to an application
      tags: [applicationDomain]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-web-server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationDomainRequest'
      responses:
        '201':
          description: Application domain bound successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required: [item]
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationDomainResponse'
  /backend/v3/api/applications/{applicationId}/domains/{domainId}:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    - $ref: '#/components/parameters/DomainIdParam'
    delete:
      operationId: applications.domains.delete
      summary: Unbind an application public domain
      tags: [applicationDomain]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-web-server
      responses:
        '204':
          description: Application domain unbound successfully.
        '404':
          $ref: '#/components/responses/NotFound'
  /backend/v3/api/applications/{applicationId}/domains/{domainId}/verify:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    - $ref: '#/components/parameters/DomainIdParam'
    post:
      operationId: applications.domains.verify
      summary: Verify an application public domain
      tags: [applicationDomain]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-web-server
      responses:
        '200':
          description: Application domain verification result returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required: [item]
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationDomainVerifyResponse'
  /backend/v3/api/applications/{applicationId}/deployments:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    get:
      operationId: applications.deployments.list
      summary: List application deployments
      tags: [applicationDeployment]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.read
      x-sdkwork-owner: sdkwork-web-server
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - name: status
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 6
      responses:
        '200':
          description: Application deployment list returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required: [items, pageInfo]
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/ApplicationDeploymentResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
    post:
      operationId: applications.deployments.create
      summary: Deploy an application
      tags: [applicationDeployment]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-web-server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationDeploymentRequest'
      responses:
        '201':
          description: Application deployment created successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required: [item]
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationDeploymentResponse'
  /backend/v3/api/applications/{applicationId}/deployments/{deploymentId}/rollback:
    parameters:
    - $ref: '#/components/parameters/ApplicationIdParam'
    - $ref: '#/components/parameters/DeploymentIdParam'
    post:
      operationId: applications.deployments.rollback
      summary: Restore a managed application from an immutable successful version
      tags: [applicationDeployment]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.sites.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-web-server
      responses:
        '200':
          description: Application restore command created; deployment proceeds asynchronously.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required: [item]
                      properties:
                        item:
                          $ref: '#/components/schemas/ApplicationDeploymentResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /backend/v3/api/certificates:
    get:
      operationId: certificates.list
      summary: List canonical certificates
      tags: [certificate]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.read
      x-sdkwork-owner: sdkwork-web-server
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Canonical certificate list returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required: [items, pageInfo]
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/CertificateResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
    post:
      operationId: certificates.create
      summary: Issue a canonical certificate
      tags: [certificate]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-web-server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCertificateRequest'
      responses:
        '201':
          description: Canonical certificate issued successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required: [item]
                      properties:
                        item:
                          $ref: '#/components/schemas/CertificateResponse'
  /backend/v3/api/certificates/{certificateId}:
    parameters:
    - $ref: '#/components/parameters/CertificateIdParam'
    put:
      operationId: certificates.update
      summary: Update certificate automatic renewal policy
      tags: [certificate]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-web-server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCertificateRequest'
      responses:
        '200':
          description: Certificate automatic renewal policy updated successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required: [item]
                      properties:
                        item:
                          $ref: '#/components/schemas/CertificateResponse'
  /backend/v3/api/certificates/{certificateId}/renew:
    parameters:
    - $ref: '#/components/parameters/CertificateIdParam'
    post:
      operationId: certificates.renew
      summary: Renew a canonical certificate now
      tags: [certificate]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-rate-limit-tier: auth-critical
      x-sdkwork-owner: sdkwork-web-server
      responses:
        '200':
          description: Canonical certificate renewed successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required: [item]
                      properties:
                        item:
                          $ref: '#/components/schemas/CertificateResponse'
  /backend/v3/api/certificate_distribution:
    get:
      operationId: certificates.distribution.list
      summary: List certificate manifest convergence by server
      tags: [certificateDistribution]
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.certificates.read
      x-sdkwork-owner: sdkwork-web-server
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Certificate manifest convergence list returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  properties:
                    data:
                      type: object
                      required: [items, pageInfo]
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/CertificateDistributionResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
  /backend/v3/api/nginx/configs:
    get:
      operationId: configs.list
      summary: List Nginx configurations
      tags:
      - nginx
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.nginx.write
      x-sdkwork-owner: sdkwork-web-server
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - name: siteId
        in: query
        schema:
          type: string
          format: uuid
      - name: configType
        in: query
        schema:
          type: integer
          enum:
          - 1
          - 2
          - 3
          - 4
      - name: isActive
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Nginx configuration list returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      additionalProperties: false
                      required:
                      - items
                      - pageInfo
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/NginxConfigResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
    post:
      operationId: configs.create
      summary: Create an Nginx configuration
      tags:
      - nginx
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.nginx.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-web-server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNginxConfigRequest'
      responses:
        '201':
          description: Nginx configuration created successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/NginxConfigResponse'
  /backend/v3/api/nginx/etc/{configId}:
    parameters:
    - name: configId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: configs.retrieve
      summary: Retrieve an Nginx configuration
      tags:
      - nginx
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.nginx.write
      x-sdkwork-owner: sdkwork-web-server
      responses:
        '200':
          description: Nginx configuration returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/NginxConfigResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: configs.update
      summary: Update an Nginx configuration
      tags:
      - nginx
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.nginx.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-web-server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNginxConfigRequest'
      responses:
        '200':
          description: Nginx configuration updated successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/NginxConfigResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /backend/v3/api/nginx/etc/{configId}/validate:
    parameters:
    - name: configId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: configs.validate
      summary: Validate an Nginx configuration
      tags:
      - nginx
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.nginx.write
      x-sdkwork-owner: sdkwork-web-server
      responses:
        '200':
          description: Nginx configuration validation result.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/NginxValidateResponse'
  /backend/v3/api/nginx/etc/{configId}/deploy:
    parameters:
    - name: configId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: configs.deploy
      summary: Deploy an Nginx configuration
      tags:
      - nginx
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.nginx.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-web-server
      x-sdkwork-rate-limit-tier: auth-critical
      responses:
        '200':
          description: Nginx configuration deployed successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/NginxDeployResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /backend/v3/api/nginx/reload:
    post:
      operationId: reload
      summary: Reload Nginx
      tags:
      - nginx
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.nginx.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-web-server
      responses:
        '200':
          description: Nginx reload result.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/NginxReloadResponse'
  /backend/v3/api/nginx/status:
    get:
      operationId: status.retrieve
      summary: Retrieve Nginx status
      tags:
      - nginx
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.nginx.write
      x-sdkwork-owner: sdkwork-web-server
      responses:
        '200':
          description: Nginx status returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/NginxStatusResponse'
  /backend/v3/api/servers:
    get:
      operationId: servers.list
      summary: List managed servers
      tags:
      - server
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.servers.read
      x-sdkwork-owner: sdkwork-web-server
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Managed server list returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      additionalProperties: false
                      required:
                      - items
                      - pageInfo
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/ServerResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
    post:
      operationId: servers.create
      summary: Register a managed server
      tags:
      - server
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.servers.write
      x-sdkwork-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-sdkwork-owner: sdkwork-web-server
      x-sdkwork-rate-limit-tier: auth-critical
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServerRequest'
      responses:
        '201':
          description: Managed server registered successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/CreateServerResponse'
  /backend/v3/api/agent/heartbeat:
    post:
      operationId: heartbeat
      summary: Report an edge-agent heartbeat
      tags:
      - agent
      security:
      - AgentToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: api-key
      x-sdkwork-route-auth: agent-token
      x-sdkwork-owner: sdkwork-web-server
      x-sdkwork-rate-limit-tier: auth-critical
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentHeartbeatRequest'
      responses:
        '200':
          description: Edge-agent heartbeat acknowledged successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/AgentHeartbeatResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /backend/v3/api/agent/sync:
    get:
      operationId: retrieve
      summary: Retrieve the Nginx configuration and certificate bundle
      tags:
      - agent
      security:
      - AgentToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: api-key
      x-sdkwork-route-auth: agent-token
      x-sdkwork-owner: sdkwork-web-server
      x-sdkwork-rate-limit-tier: auth-critical
      parameters:
      - name: ifSyncVersion
        in: query
        description: When it matches the current tenant manifest fingerprint, returns
          unchanged=true with empty bundles.
        schema:
          type: string
      responses:
        '200':
          description: Edge-agent synchronization bundle returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/AgentSyncResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /backend/v3/api/audit_logs:
    get:
      operationId: auditLogs.list
      summary: List audit logs
      tags:
      - audit
      security:
      - AuthToken: []
        AccessToken: []
      x-sdkwork-api-surface: backend-api
      x-sdkwork-api-authority: sdkwork-web.backend
      x-sdkwork-request-context: WebRequestContext
      x-sdkwork-auth-mode: dual-token
      x-sdkwork-permission: web.auditLogs.read
      x-sdkwork-owner: sdkwork-web-server
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - name: targetType
        in: query
        schema:
          type: string
      - name: action
        in: query
        schema:
          type: string
      - name: operatorId
        in: query
        schema:
          type: string
          format: int64
          pattern: ^[0-9]+$
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
      - name: startDate
        in: query
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Audit log list returned successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      additionalProperties: false
                      required:
                      - items
                      - pageInfo
                      properties:
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/AuditLogResponse'
                        pageInfo:
                          $ref: '#/components/schemas/PageInfo'
components:
  securitySchemes:
    AuthToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
    AccessToken:
      type: apiKey
      in: header
      name: Access-Token
    AgentToken:
      type: apiKey
      in: header
      name: X-SDKWork-Agent-Token
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 128
    ApplicationIdParam:
      name: applicationId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    DomainIdParam:
      name: domainId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    DeploymentIdParam:
      name: deploymentId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    CertificateIdParam:
      name: certificateId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSizeParam:
      name: page_size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 20
  schemas:
    ProblemDetail:
      type: object
      additionalProperties: true
      required:
      - type
      - title
      - status
      - code
      - traceId
      properties:
        type:
          type: string
          format: uri-reference
        title:
          type: string
        status:
          type: integer
          minimum: 100
          maximum: 599
        detail:
          type: string
        instance:
          type: string
        code:
          $ref: '#/components/schemas/SdkWorkPlatformErrorCode'
        traceId:
          type: string
          format: uuid
          description: Server-owned request correlation id.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/FieldError'
    CreateNginxConfigRequest:
      type: object
      additionalProperties: false
      required:
      - configType
      - configName
      - configContent
      - siteId
      properties:
        configType:
          type: integer
          enum:
          - 1
          - 2
          - 3
          - 4
        configName:
          type: string
          minLength: 1
          maxLength: 200
        configContent:
          type: string
          minLength: 1
          maxLength: 1048576
        siteId:
          type: string
          format: uuid
    UpdateNginxConfigRequest:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        configContent:
          type: string
          minLength: 1
          maxLength: 1048576
        configName:
          type: string
          minLength: 1
          maxLength: 200
    CreateApplicationRequest:
      type: object
      additionalProperties: false
      required: [name, applicationType, siteType]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        slug:
          type: string
          minLength: 1
          maxLength: 100
          pattern: '^[a-z0-9][a-z0-9-]*[a-z0-9]$'
        description:
          type: string
          maxLength: 500
        applicationType:
          type: string
          enum: [WEB, API]
          default: WEB
        siteType:
          type: integer
          minimum: 1
          maximum: 6
        runtimeConfig:
          type: object
          additionalProperties: true
    UpdateApplicationRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        runtimeConfig:
          type: object
          additionalProperties: true
    ApplicationResponse:
      type: object
      additionalProperties: false
      required: [id, name, slug, applicationType, siteType, status, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        applicationType:
          type: string
          enum: [WEB, API]
        siteType:
          type: integer
          minimum: 1
          maximum: 6
        status:
          type: integer
          minimum: 0
          maximum: 3
        runtimeConfig:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CreateApplicationDomainRequest:
      type: object
      additionalProperties: false
      required: [hostname]
      properties:
        hostname:
          type: string
          minLength: 1
          maxLength: 253
        isPrimary:
          type: boolean
          default: false
        sslEnabled:
          type: boolean
          default: true
        sslProvider:
          type: string
          enum: [letsencrypt, custom, none]
    ApplicationDomainResponse:
      type: object
      additionalProperties: false
      required: [id, hostname, isPrimary, isVerified, sslEnabled, status, createdAt]
      properties:
        id:
          type: string
          format: uuid
        hostname:
          type: string
        isPrimary:
          type: boolean
        isVerified:
          type: boolean
        sslEnabled:
          type: boolean
        sslProvider:
          type: string
        status:
          type: integer
        createdAt:
          type: string
          format: date-time
    ApplicationDomainVerifyResponse:
      type: object
      additionalProperties: false
      required: [verified]
      properties:
        verified:
          type: boolean
        verifyToken:
          type: string
    CreateApplicationDeploymentRequest:
      type: object
      additionalProperties: false
      properties:
        deployType:
          type: integer
          enum: [1, 2, 3, 4]
          default: 1
        environment:
          type: string
          enum: [development, test, staging, production]
          default: production
        versionTag:
          type: string
          minLength: 1
          maxLength: 100
        commitHash:
          type: string
          minLength: 7
          maxLength: 64
          pattern: '^[a-f0-9]{7,64}$'
        sourceRef:
          type: string
          minLength: 1
          maxLength: 500
        artifactDriveUri:
          type: string
          maxLength: 500
          pattern: '^drive://spaces/[^/?#]+/nodes/[^/?#]+$'
          description: Stable Drive resource identity. Signed delivery URLs are forbidden.
        artifactSize:
          type: string
          format: int64
          pattern: '^[1-9][0-9]*$'
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
        artifactHash:
          type: string
          pattern: '^[a-f0-9]{64}$'
          description: Lowercase SHA-256 hexadecimal digest of the uploaded package.
    ApplicationDeploymentResponse:
      type: object
      additionalProperties: false
      required: [id, siteId, status, deployType, environment, createdAt]
      properties:
        id:
          type: string
          format: uuid
        siteId:
          type: string
          format: uuid
        status:
          type: integer
        deployType:
          type: integer
        environment:
          type: string
          enum: [development, test, staging, production]
        versionTag:
          type: string
        commitHash:
          type: string
        sourceRef:
          type: string
        rollbackFromDeploymentId:
          type: string
          format: uuid
          description: Immutable successful deployment selected as this restore command's source.
        artifactDriveUri:
          type: string
          pattern: '^drive://spaces/[^/?#]+/nodes/[^/?#]+$'
        artifactSize:
          type: string
          format: int64
          pattern: '^[1-9][0-9]*$'
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
        artifactHash:
          type: string
          pattern: '^[a-f0-9]{64}$'
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        durationMs:
          type: string
          format: int64
          pattern: '^[0-9]+$'
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
        createdAt:
          type: string
          format: date-time
    CreateCertificateRequest:
      type: object
      additionalProperties: false
      required: [domainId, certType]
      properties:
        domainId:
          type: string
          format: uuid
        certType:
          type: integer
          enum: [1, 3]
          description: 1=Let's Encrypt, 3=self-signed. Custom import is a separate future workflow.
        autoRenew:
          type: boolean
          default: true
    UpdateCertificateRequest:
      type: object
      additionalProperties: false
      required: [autoRenew]
      properties:
        autoRenew:
          type: boolean
    CertificateResponse:
      type: object
      additionalProperties: false
      required: [id, certName, status, createdAt]
      properties:
        id:
          type: string
          format: uuid
        certName:
          type: string
        domain:
          type: string
        certType:
          type: integer
        issuer:
          type: string
        fingerprint:
          type: string
          pattern: '^[a-f0-9]{64}$'
        notBefore:
          type: string
          format: date-time
        notAfter:
          type: string
          format: date-time
        autoRenew:
          type: boolean
        renewalStatus:
          type: integer
          description: 0=idle, 1=renewing, 2=pending, 3=failed
        status:
          type: integer
          description: 0=pending, 1=active, 2=expired, 3=revoked, 4=archived
        createdAt:
          type: string
          format: date-time
    CertificateDistributionResponse:
      type: object
      additionalProperties: false
      required: [serverId, serverName, host, desiredSyncVersion, status]
      properties:
        serverId:
          type: string
          format: uuid
        serverName:
          type: string
        host:
          type: string
        desiredSyncVersion:
          type: string
          pattern: '^sv1:[a-f0-9]{64}$'
        appliedSyncVersion:
          type: string
          pattern: '^sv1:[a-f0-9]{64}$'
        status:
          type: string
          enum: [SYNCED, PENDING, OFFLINE]
        lastHeartbeatAt:
          type: string
          format: date-time
    NginxConfigResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        configType:
          type: integer
        configName:
          type: string
        configContent:
          type: string
        configHash:
          type: string
        isActive:
          type: boolean
        versionNo:
          type: integer
        deployedAt:
          type: string
          format: date-time
        status:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    NginxConfigPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/NginxConfigResponse'
        total:
          type: string
          format: int64
          pattern: ^[0-9]+$
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
          description: Total item count as a string to avoid JavaScript precision
            loss.
    NginxValidateResponse:
      type: object
      properties:
        valid:
          type: boolean
        errors:
          type: array
          items:
            type: object
            properties:
              line:
                type: integer
              message:
                type: string
              severity:
                type: string
                enum:
                - error
                - warning
                - info
    NginxDeployResponse:
      type: object
      properties:
        success:
          type: boolean
        configId:
          type: string
          format: uuid
        deployedAt:
          type: string
          format: date-time
        reloadResult:
          type: object
          properties:
            reloaded:
              type: boolean
            message:
              type: string
    NginxReloadResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        timestamp:
          type: string
          format: date-time
    NginxStatusResponse:
      type: object
      properties:
        running:
          type: boolean
        version:
          type: string
        pid:
          type: integer
        activeConnections:
          type: integer
        configPath:
          type: string
        uptime:
          type: string
    CreateServerRequest:
      type: object
      additionalProperties: false
      required:
      - name
      - host
      - tenantScopeHash
      - sshPort
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        host:
          type: string
          minLength: 1
          maxLength: 255
        tenantScopeHash:
          type: string
          minLength: 64
          maxLength: 64
          pattern: '^[a-f0-9]{64}$'
          description: Irreversible tenant scope bound to runtime-set delivery for this node.
        sshPort:
          type: integer
          minimum: 1
          maximum: 65535
          default: 22
    ServerResponse:
      type: object
      required:
      - id
      - name
      - host
      - tenantScopeHash
      - sshPort
      - status
      - createdAt
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        host:
          type: string
        tenantScopeHash:
          type: string
          minLength: 64
          maxLength: 64
          pattern: '^[a-f0-9]{64}$'
        sshPort:
          type: integer
        status:
          type: integer
          description: 0=offline, 1=online
        lastHeartbeatAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
    CreateServerResponse:
      allOf:
      - $ref: '#/components/schemas/ServerResponse'
      - type: object
        required:
        - agentToken
        properties:
          agentToken:
            type: string
            description: Bootstrap agent credential; returned once at registration.
    AgentHeartbeatRequest:
      type: object
      properties:
        agentVersion:
          type: string
          maxLength: 100
        nginxEnabled:
          type: boolean
        activeConfigs:
          type: string
          format: int64
          pattern: ^[0-9]+$
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
          description: Number of active nginx configs reported by the agent as a string.
        lastSyncVersion:
          type: string
          pattern: ^sv1:[a-f0-9]{64}$
          description: Last successfully applied syncVersion reported by the edge
            agent.
    AgentHeartbeatResponse:
      type: object
      required: [serverId, status, acknowledgedAt]
      properties:
        serverId:
          type: string
          format: uuid
        status:
          type: integer
        acknowledgedAt:
          type: string
          format: date-time
    AgentSyncResponse:
      type: object
      required: [serverId, syncVersion, unchanged, nginxConfigs, certificates]
      properties:
        serverId:
          type: string
          format: uuid
        syncVersion:
          type: string
          pattern: ^sv1:[a-f0-9]{64}$
          description: Stable SHA-256 fingerprint of active nginx configs and certificates
            for the tenant.
        unchanged:
          type: boolean
          description: True when ifSyncVersion matched syncVersion; bundles are omitted
            to save bandwidth.
        nginxConfigs:
          type: array
          items:
            $ref: '#/components/schemas/AgentNginxConfigBundle'
        certificates:
          type: array
          items:
            $ref: '#/components/schemas/AgentCertificateBundle'
    AgentNginxConfigBundle:
      type: object
      required: [configId, domain, configContent, fingerprint, version]
      properties:
        configId:
          type: string
          format: uuid
        domain:
          type: string
          minLength: 1
          maxLength: 253
        configContent:
          type: string
          maxLength: 1048576
        fingerprint:
          type: string
          pattern: ^[a-f0-9]{64}$
          description: SHA-256 hex digest of configContent.
        version:
          type: string
          format: int64
          pattern: ^[0-9]+$
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
          description: Config revision number as a string to avoid JavaScript precision
            loss.
    AgentCertificateBundle:
      type: object
      required: [certificateId, certName, fingerprint, fullchainPem, privkeyPem]
      properties:
        certificateId:
          type: string
          format: uuid
        certName:
          type: string
          minLength: 1
          maxLength: 253
        fingerprint:
          type: string
          pattern: ^[a-f0-9]{64}$
        fullchainPem:
          type: string
          maxLength: 2097152
        privkeyPem:
          type: string
          maxLength: 2097152
    ServerPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ServerResponse'
        total:
          type: string
          format: int64
          pattern: ^[0-9]+$
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
          description: Total item count as a string to avoid JavaScript precision
            loss.
    AuditLogResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        operatorId:
          type: string
          format: int64
          pattern: ^[0-9]+$
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
          description: Operator user id as a string to avoid JavaScript precision
            loss.
        operatorType:
          type: string
        action:
          type: string
        targetType:
          type: string
        targetId:
          type: string
          format: int64
          pattern: ^[0-9]+$
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
          description: Target snowflake id as a string to avoid JavaScript precision
            loss.
        targetUuid:
          type: string
        ipAddress:
          type: string
        changes:
          type: object
        createdAt:
          type: string
          format: date-time
    AuditLogPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AuditLogResponse'
        total:
          type: string
          format: int64
          pattern: ^[0-9]+$
          x-sdkwork-int64-string: true
          x-sdkwork-rust-type: i64
          description: Total item count as a string to avoid JavaScript precision
            loss.
    SdkWorkApiResponse:
      type: object
      additionalProperties: false
      required:
      - code
      - data
      - traceId
      properties:
        code:
          type: integer
          format: int32
          enum:
          - 0
          default: 0
          minimum: 0
          maximum: 0
        data:
          description: Operation-specific payload typed per response schema.
        traceId:
          type: string
          format: uuid
          description: Server-owned request correlation id.
    SdkWorkResourceData:
      type: object
      additionalProperties: false
      required:
      - item
      properties:
        item:
          type: object
          additionalProperties: true
          description: Typed domain resource for the operation.
    SdkWorkPageData:
      type: object
      additionalProperties: false
      required:
      - items
      - pageInfo
      properties:
        items:
          type: array
          items:
            type: object
            additionalProperties: true
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
    SdkWorkCommandData:
      type: object
      additionalProperties: false
      required:
      - accepted
      properties:
        accepted:
          type: boolean
          const: true
        resourceId:
          type: string
        status:
          type: string
    PageInfo:
      type: object
      additionalProperties: false
      required:
      - mode
      properties:
        mode:
          type: string
          enum:
          - offset
          - cursor
        page:
          type: integer
          minimum: 1
        pageSize:
          type: integer
          minimum: 1
          maximum: 200
        totalItems:
          type: string
          pattern: ^[0-9]+$
        totalPages:
          type: integer
          minimum: 0
        nextCursor:
          type:
          - string
          - 'null'
        hasMore:
          type: boolean
    SdkWorkPlatformErrorCode:
      type: integer
      format: int32
      minimum: 40001
      maximum: 79999
      description: Platform or domain error code per API_SPEC.md section 15.3.
    FieldError:
      type: object
      additionalProperties: false
      required:
      - field
      - message
      properties:
        field:
          type: string
        message:
          type: string
        code:
          type: integer
          format: int32
          minimum: 40011
          maximum: 40099
    SdkWorkResourceResponse:
      allOf:
      - $ref: '#/components/schemas/SdkWorkApiResponse'
      - type: object
        required:
        - data
        properties:
          data:
            $ref: '#/components/schemas/SdkWorkResourceData'
    SdkWorkListResponse:
      allOf:
      - $ref: '#/components/schemas/SdkWorkApiResponse'
      - type: object
        required:
        - data
        properties:
          data:
            $ref: '#/components/schemas/SdkWorkPageData'
    SdkWorkCommandResponse:
      allOf:
      - $ref: '#/components/schemas/SdkWorkApiResponse'
      - type: object
        required:
        - data
        properties:
          data:
            $ref: '#/components/schemas/SdkWorkCommandData'
  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
    Unauthorized:
      description: Authentication is required.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
    NotFound:
      description: Resource not found.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
    Conflict:
      description: Resource conflict.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
