{
  "openapi": "3.1.2",
  "info": {
    "title": "SDKWork Web App API",
    "description": "SDKWork Web Server 应用端 API，供前端应用客户端调用",
    "version": "1.0.0",
    "contact": {
      "name": "SDKWork Team"
    }
  },
  "servers": [
    {
      "url": "https://api.web.sdkwork.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3800",
      "description": "Local Development"
    }
  ],
  "security": [
    {
      "AuthToken": [],
      "AccessToken": []
    }
  ],
  "paths": {
    "/app/v3/api/sites": {
      "get": {
        "operationId": "sites.list",
        "summary": "获取站点列表",
        "tags": [
          "site"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.read",
        "x-sdkwork-owner": "sdkwork-web-server",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                2,
                3
              ]
            }
          },
          {
            "name": "applicationType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "WEB",
                "API"
              ]
            }
          },
          {
            "name": "siteType",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6
              ]
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/SiteResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "429": {
            "description": "请求过于频繁",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "post": {
        "operationId": "sites.create",
        "summary": "创建站点",
        "tags": [
          "site"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-owner": "sdkwork-web-server",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSiteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/SiteResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "资源冲突",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "校验错误",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/app/v3/api/sites/{siteId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SiteIdParam"
        }
      ],
      "get": {
        "operationId": "sites.retrieve",
        "summary": "获取站点详情",
        "tags": [
          "site"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.read",
        "x-sdkwork-owner": "sdkwork-web-server",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/SiteResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "资源不存在",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "patch": {
        "operationId": "sites.update",
        "summary": "更新站点",
        "tags": [
          "site"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-owner": "sdkwork-web-server",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSiteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "更新成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/SiteResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "资源不存在",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "校验错误",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "delete": {
        "operationId": "sites.delete",
        "summary": "删除站点",
        "tags": [
          "site"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-owner": "sdkwork-web-server",
        "responses": {
          "204": {
            "description": "删除成功"
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "资源不存在",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/app/v3/api/sites/{siteId}/activate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SiteIdParam"
        }
      ],
      "post": {
        "operationId": "sites.activate",
        "summary": "激活站点",
        "tags": [
          "site"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-owner": "sdkwork-web-server",
        "responses": {
          "200": {
            "description": "激活成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/SiteResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "资源不存在",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/app/v3/api/sites/{siteId}/pause": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SiteIdParam"
        }
      ],
      "post": {
        "operationId": "sites.pause",
        "summary": "暂停站点",
        "tags": [
          "site"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-owner": "sdkwork-web-server",
        "responses": {
          "200": {
            "description": "暂停成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/SiteResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "资源不存在",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/app/v3/api/sites/{siteId}/domains": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SiteIdParam"
        }
      ],
      "get": {
        "operationId": "sites.domains.list",
        "summary": "获取站点域名列表",
        "tags": [
          "domain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-owner": "sdkwork-web-server",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/DomainResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "post": {
        "operationId": "sites.domains.create",
        "summary": "绑定域名",
        "tags": [
          "domain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-owner": "sdkwork-web-server",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/DomainResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "资源冲突",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/app/v3/api/sites/{siteId}/domains/{domainId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SiteIdParam"
        },
        {
          "$ref": "#/components/parameters/DomainIdParam"
        }
      ],
      "get": {
        "operationId": "sites.domains.retrieve",
        "summary": "获取域名详情",
        "tags": [
          "domain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-owner": "sdkwork-web-server",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/DomainResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "资源不存在",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "delete": {
        "operationId": "sites.domains.delete",
        "summary": "解绑域名",
        "tags": [
          "domain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-owner": "sdkwork-web-server",
        "responses": {
          "204": {
            "description": "删除成功"
          },
          "404": {
            "description": "资源不存在",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/app/v3/api/sites/{siteId}/domains/{domainId}/verify": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SiteIdParam"
        },
        {
          "$ref": "#/components/parameters/DomainIdParam"
        }
      ],
      "post": {
        "operationId": "sites.domains.verify",
        "summary": "验证域名所有权",
        "tags": [
          "domain"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-owner": "sdkwork-web-server",
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "responses": {
          "200": {
            "description": "验证成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/DomainVerifyResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "资源不存在",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/app/v3/api/sites/{siteId}/deployments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SiteIdParam"
        }
      ],
      "get": {
        "operationId": "sites.deployments.list",
        "summary": "获取部署历史",
        "tags": [
          "deployment"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-owner": "sdkwork-web-server",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                2,
                3,
                4,
                5
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/DeploymentResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "post": {
        "operationId": "sites.deployments.create",
        "summary": "发起部署",
        "tags": [
          "deployment"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-owner": "sdkwork-web-server",
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeploymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "部署已触发",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/DeploymentResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "资源冲突",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/app/v3/api/sites/{siteId}/deployments/{deploymentId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SiteIdParam"
        },
        {
          "$ref": "#/components/parameters/DeploymentIdParam"
        }
      ],
      "get": {
        "operationId": "sites.deployments.retrieve",
        "summary": "获取部署详情",
        "tags": [
          "deployment"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-owner": "sdkwork-web-server",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/DeploymentResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "资源不存在",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/app/v3/api/sites/{siteId}/deployments/{deploymentId}/rollback": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SiteIdParam"
        },
        {
          "$ref": "#/components/parameters/DeploymentIdParam"
        }
      ],
      "post": {
        "operationId": "sites.deployments.rollback",
        "summary": "回滚部署",
        "tags": [
          "deployment"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-owner": "sdkwork-web-server",
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "responses": {
          "200": {
            "description": "回滚成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/DeploymentResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "资源不存在",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/app/v3/api/sites/{siteId}/env_variables": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SiteIdParam"
        }
      ],
      "get": {
        "operationId": "sites.envVariables.list",
        "summary": "获取环境变量列表",
        "tags": [
          "envVariable"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-owner": "sdkwork-web-server",
        "parameters": [
          {
            "name": "environment",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "production"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/EnvVariableResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "post": {
        "operationId": "sites.envVariables.create",
        "summary": "创建环境变量",
        "tags": [
          "envVariable"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-owner": "sdkwork-web-server",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvVariableRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/EnvVariableResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/app/v3/api/certificates": {
      "get": {
        "operationId": "certificates.list",
        "summary": "获取证书列表",
        "tags": [
          "certificate"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.certificates.read",
        "x-sdkwork-owner": "sdkwork-web-server",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/CertificateResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "post": {
        "operationId": "certificates.create",
        "summary": "申请证书",
        "tags": [
          "certificate"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.certificates.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-owner": "sdkwork-web-server",
        "x-sdkwork-rate-limit-tier": "auth-critical",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCertificateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "证书申请已触发",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/CertificateResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    },
    "/app/v3/api/sites/{siteId}/health_checks": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SiteIdParam"
        }
      ],
      "get": {
        "operationId": "sites.healthChecks.list",
        "summary": "获取健康检查配置",
        "tags": [
          "monitor"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-owner": "sdkwork-web-server",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/HealthCheckResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      },
      "post": {
        "operationId": "sites.healthChecks.create",
        "summary": "创建健康检查",
        "tags": [
          "monitor"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-api-authority": "sdkwork-web.app",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "web.sites.write",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-owner": "sdkwork-web-server",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHealthCheckRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/HealthCheckResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-route-auth": "dual-token"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AuthToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "AccessToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Access-Token"
      },
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "parameters": {
      "PageParam": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "PageSizeParam": {
        "name": "page_size",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 20
        }
      },
      "SiteIdParam": {
        "name": "siteId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "DomainIdParam": {
        "name": "domainId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "DeploymentIdParam": {
        "name": "deploymentId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "schemas": {
      "ProblemDetail": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "type",
          "title",
          "status",
          "code",
          "traceId"
        ],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri-reference"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "minimum": 100,
            "maximum": 599
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          },
          "code": {
            "$ref": "#/components/schemas/SdkWorkPlatformErrorCode"
          },
          "traceId": {
            "type": "string",
            "format": "uuid",
            "description": "Server-owned request correlation id."
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldError"
            }
          }
        }
      },
      "CreateSiteRequest": {
        "type": "object",
        "required": [
          "name",
          "siteType"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[a-z0-9][a-z0-9\\-]*[a-z0-9]$"
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "applicationType": {
            "type": "string",
            "enum": [
              "WEB",
              "API"
            ],
            "default": "WEB"
          },
          "siteType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6
            ]
          },
          "runtimeConfig": {
            "type": "object",
            "properties": {
              "buildCommand": {
                "type": "string"
              },
              "outputDirectory": {
                "type": "string"
              },
              "nodeVersion": {
                "type": "string"
              },
              "installCommand": {
                "type": "string"
              },
              "startCommand": {
                "type": "string"
              }
            }
          }
        }
      },
      "UpdateSiteRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "runtimeConfig": {
            "type": "object"
          }
        }
      },
      "SiteResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "applicationType": {
            "type": "string",
            "enum": [
              "WEB",
              "API"
            ]
          },
          "siteType": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "runtimeConfig": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SitePage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SiteResponse"
            }
          },
          "total": {
            "type": "string",
            "format": "int64",
            "pattern": "^[0-9]+$",
            "x-sdkwork-int64-string": true,
            "x-sdkwork-rust-type": "i64",
            "description": "Total item count as a string to avoid JavaScript precision loss."
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "CreateDomainRequest": {
        "type": "object",
        "required": [
          "hostname"
        ],
        "properties": {
          "hostname": {
            "type": "string",
            "maxLength": 255
          },
          "isPrimary": {
            "type": "boolean",
            "default": false
          },
          "sslEnabled": {
            "type": "boolean",
            "default": true
          },
          "sslProvider": {
            "type": "string",
            "enum": [
              "letsencrypt",
              "custom",
              "none"
            ]
          }
        }
      },
      "DomainResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "hostname": {
            "type": "string"
          },
          "isPrimary": {
            "type": "boolean"
          },
          "isVerified": {
            "type": "boolean"
          },
          "sslEnabled": {
            "type": "boolean"
          },
          "sslProvider": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DomainPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DomainResponse"
            }
          },
          "total": {
            "type": "string",
            "format": "int64",
            "pattern": "^[0-9]+$",
            "x-sdkwork-int64-string": true,
            "x-sdkwork-rust-type": "i64",
            "description": "Total item count as a string to avoid JavaScript precision loss."
          }
        }
      },
      "DomainVerifyResponse": {
        "type": "object",
        "properties": {
          "verified": {
            "type": "boolean"
          },
          "method": {
            "type": "string"
          },
          "token": {
            "type": "string"
          }
        }
      },
      "CreateDeploymentRequest": {
        "type": "object",
        "required": [
          "deployType"
        ],
        "properties": {
          "deployType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "versionTag": {
            "type": "string",
            "maxLength": 100
          },
          "commitHash": {
            "type": "string"
          },
          "sourceRef": {
            "type": "string"
          },
          "environment": {
            "type": "string",
            "default": "production"
          },
          "idempotencyKey": {
            "type": "string",
            "maxLength": 200
          }
        }
      },
      "DeploymentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "siteId": {
            "type": "string",
            "format": "uuid"
          },
          "deployType": {
            "type": "integer"
          },
          "versionTag": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time"
          },
          "durationMs": {
            "type": "string",
            "format": "int64",
            "pattern": "^[0-9]+$",
            "x-sdkwork-int64-string": true,
            "x-sdkwork-rust-type": "i64",
            "description": "Deployment duration in milliseconds as a string to avoid JavaScript precision loss."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DeploymentPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeploymentResponse"
            }
          },
          "total": {
            "type": "string",
            "format": "int64",
            "pattern": "^[0-9]+$",
            "x-sdkwork-int64-string": true,
            "x-sdkwork-rust-type": "i64",
            "description": "Total item count as a string to avoid JavaScript precision loss."
          }
        }
      },
      "CreateEnvVariableRequest": {
        "type": "object",
        "required": [
          "key",
          "value"
        ],
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 200
          },
          "value": {
            "type": "string"
          },
          "environment": {
            "type": "string",
            "default": "production"
          },
          "isSecret": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "EnvVariableResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "key": {
            "type": "string"
          },
          "environment": {
            "type": "string"
          },
          "isSecret": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EnvVariablePage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnvVariableResponse"
            }
          },
          "total": {
            "type": "string",
            "format": "int64",
            "pattern": "^[0-9]+$",
            "x-sdkwork-int64-string": true,
            "x-sdkwork-rust-type": "i64",
            "description": "Total item count as a string to avoid JavaScript precision loss."
          }
        }
      },
      "CreateCertificateRequest": {
        "type": "object",
        "required": [
          "domainId",
          "certType"
        ],
        "properties": {
          "domainId": {
            "type": "string",
            "format": "uuid"
          },
          "certType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ]
          },
          "autoRenew": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "CertificateResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "certName": {
            "type": "string"
          },
          "certType": {
            "type": "integer"
          },
          "issuer": {
            "type": "string"
          },
          "notBefore": {
            "type": "string",
            "format": "date-time"
          },
          "notAfter": {
            "type": "string",
            "format": "date-time"
          },
          "autoRenew": {
            "type": "boolean"
          },
          "status": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CertificatePage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CertificateResponse"
            }
          },
          "total": {
            "type": "string",
            "format": "int64",
            "pattern": "^[0-9]+$",
            "x-sdkwork-int64-string": true,
            "x-sdkwork-rust-type": "i64",
            "description": "Total item count as a string to avoid JavaScript precision loss."
          }
        }
      },
      "CreateHealthCheckRequest": {
        "type": "object",
        "required": [
          "checkType"
        ],
        "properties": {
          "checkType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ]
          },
          "checkUrl": {
            "type": "string",
            "maxLength": 2000
          },
          "checkInterval": {
            "type": "integer",
            "default": 60
          },
          "timeoutMs": {
            "type": "integer",
            "default": 5000
          },
          "retryCount": {
            "type": "integer",
            "default": 3
          }
        }
      },
      "HealthCheckResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "checkType": {
            "type": "integer"
          },
          "checkUrl": {
            "type": "string"
          },
          "checkInterval": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "HealthCheckPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HealthCheckResponse"
            }
          },
          "total": {
            "type": "string",
            "format": "int64",
            "pattern": "^[0-9]+$",
            "x-sdkwork-int64-string": true,
            "x-sdkwork-rust-type": "i64",
            "description": "Total item count as a string to avoid JavaScript precision loss."
          }
        }
      },
      "SdkWorkApiResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "code",
          "data",
          "traceId"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "enum": [
              0
            ],
            "default": 0,
            "minimum": 0,
            "maximum": 0
          },
          "data": {
            "description": "Operation-specific payload typed per response schema."
          },
          "traceId": {
            "type": "string",
            "format": "uuid",
            "description": "Server-owned request correlation id."
          }
        }
      },
      "SdkWorkResourceData": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "item"
        ],
        "properties": {
          "item": {
            "type": "object",
            "additionalProperties": true,
            "description": "Typed domain resource for the operation."
          }
        }
      },
      "SdkWorkPageData": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "items",
          "pageInfo"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "SdkWorkCommandData": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "accepted"
        ],
        "properties": {
          "accepted": {
            "type": "boolean",
            "const": true
          },
          "resourceId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "PageInfo": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "mode"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "offset",
              "cursor"
            ]
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "totalItems": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "totalPages": {
            "type": "integer",
            "minimum": 0
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "hasMore": {
            "type": "boolean"
          }
        }
      },
      "SdkWorkPlatformErrorCode": {
        "type": "integer",
        "format": "int32",
        "minimum": 40001,
        "maximum": 79999,
        "description": "Platform or domain error code per API_SPEC.md §15.3."
      },
      "FieldError": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "field",
          "message"
        ],
        "properties": {
          "field": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer",
            "format": "int32",
            "minimum": 40011,
            "maximum": 40099
          }
        }
      },
      "SdkWorkResourceResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SdkWorkApiResponse"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/SdkWorkResourceData"
              }
            }
          }
        ]
      },
      "SdkWorkListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SdkWorkApiResponse"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/SdkWorkPageData"
              }
            }
          }
        ]
      },
      "SdkWorkCommandResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SdkWorkApiResponse"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/SdkWorkCommandData"
              }
            }
          }
        ]
      }
    },
    "responses": {
      "BadRequest": {
        "description": "请求参数错误",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetail"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "未认证",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetail"
            }
          }
        }
      },
      "NotFound": {
        "description": "资源不存在",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetail"
            }
          }
        }
      },
      "Conflict": {
        "description": "资源冲突",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetail"
            }
          }
        }
      },
      "ValidationError": {
        "description": "校验错误",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetail"
            }
          }
        }
      },
      "RateLimited": {
        "description": "请求过于频繁",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetail"
            }
          }
        }
      }
    }
  }
}
